<div class="container mt-5">
    <h4>MockApi</h4>
    <div class="row">
        <form>
            <div class="mb-3">
              <input type="text" [(ngModel)]="term" name="term" class="form-control" >
            </div>
            <div *ngIf="term"  class="form-text">
                Şu an <strong>{{term}}</strong> aradınız
            </div>
        </form>
        <div *ngFor="let d of mocknewsDisplay | filter :term"  class="col-lg-3 mt-3 mb-3">
            
           <div class="box">
            <img src="{{d.urlToImage}}" width="100%">
            <h5 class="mt-2 mb-2">{{d.title}}</h5>
            <a href="{{d.url}}" class="btn btn-dark btn-sm">Daha Fazlası</a>


           </div>


        </div>

    </div>

</div>
